*{
    margin: 0;
    padding: 0;
    font-family:'Poppins',sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width:100%;
    height: 100vh;
    background-image: url("avatar.jpeg");
    background-size: cover;
    background-position: center;
    position: sticky;

}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* .logo{

} */
 nav ul li{
    display: inline-block;
    list-style: none;
    margin:10px 20px;

 }
 nav ul li a{
    color:white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
 }
 nav ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left:0;
    bottom:-6px;
    transition: 0.5s;

 }
 nav ul li a:hover::after{
    width:100%;

 }
 .headertext{
    margin-top: 20%;
    font-size: 30px;

 }
 .headertext h1{
    font-size: 60px;
    margin-top: 20px;
 }
 .headertext h1 span{
    color:#ff004f;
 }
 nav .fas{
    display: none;
 }
 #about{
    padding: 80px 0px;
    color:#ababab;
 }
 .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }
.col1{
    flex-basis:35%;
}
.col1 img{
    width: 100%;
    border-radius: 15px;
}
.col2{
    flex-basis: 60%;

}
.col2 h1{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.col2 p{
    font-size: 20px;
}
.tabtitles{
    display: flex;
    margin:20px 0px 40px;


}
.tablink{
    margin-right: 50px;
    font-size: 20px;
    font-weight:500 ;
    cursor: pointer;
    position: relative;
}
.tablink::after{
    content:'';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tablink.active::after{
    width:50%;
}
.tabcontents{
    display: none;
}
.tabcontents ul li{
    list-style: none;
    margin:10px 0;
}
.tabcontents ul li span{
    color:#b54769;
    font-size: 14px;
}
.tabcontents.activetab{
    display:block;
}
#services.container.h1{
font-size: 60px;
    font-weight: 600;
    color: #fff;
}
#services{
    padding:30px 0;


}
.serviceslist {
    
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    
 grid-gap:40px;
 margin-top:50px ;
}
.serviceslist div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight:300;
    border-radius: 10px;
    transition: background 0.5s,transform 0.5s;
}
.serviceslist div i{
    font-size:50px;
    margin-bottom: 30px;
}
.serviceslist div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;

}
.serviceslist div a{
    text-decoration: none;
    color:#fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.serviceslist div:hover{
    background: #ff004f;
    transform: translateY(-10px);

}
#portfolio.container.h1{
    font-size: 60px;
        font-weight: 600;
        color: #fff;
    }
    #portfolio{
 padding:50px 0;
    }
    .worklist{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 300px 300px;
     grid-gap:40px;
     margin-top:50px ;
    }
    .work{
        border-radius:10px;
        position: relative;
        overflow:hidden;
    }
    .work  img{
        width:100%;
        border-radius: 10px;
        display: block;
        transition: transform 0.5s;
    }
    .layer {
        width:100%;
        height: 0;
        background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
        border-radius: 10px;
        position: absolute;
        left:0;
        bottom: 0;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding:0 40px;
        text-align: center;
        font-size: 14px;
        transition: height 0.5s;
    }
    .layer h3{
        font-weight: 500;
        margin-bottom: 20px;

    }
    .layer a{
        margin-top: 20px;
        color: #ff004f;
        text-decoration: none;
        font-size:18px;
        line-height: 60px;
        background: #fff;
        width: 60px;
        height:60px;
        border-radius: 50%;
        text-align: center;

    }
    .work:hover img{
 transform: scale(1.1);

    }
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border:1px solid #ff004f;
    padding:14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff004f;
}
#contact.container.h1{
    font-size: 60px;
        font-weight: 600;
        color: #fff;
    }
.left{
    flex-basis:35%;

}
.right{
    flex-basis: 60%;
}
.left p{
    margin-top:30px ;
}
.left p i{
    color:#ff004f;
    margin-right:15px ;
    font-size: 25px;

}
.socialicons{
    margin-top: 30px;
}
.socialicons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color:#ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.socialicons a:hover{
    color:#ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
}
.right form{
    width:100%;

}
form input,form textarea{
    width:100%;
    border:0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin:15px 0;
    color:#fff;
    font-size: 18px;
    border-radius: 6px;



}
 form.btn2{
    padding: 14px 60px;
    font-size:18px ;
    margin-top: 20px;
    cursor: pointer;
 }
 #copyright{
    width:100%;
    text-align: center;
    padding:25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;

 }
 #copyright i{
    color: #ff004f;
 }
 #nerror,#eerror{
    color: #ff004f;
    font-size: 14px;
 }
@media only screen and (max-width:600px){
    #header{
        background-image: url("avt2.jpg");

    }
    .headertext{
        margin-top: 100%;
        font-size: 16px;
    
     }
     .headertext h1{
        font-size: 30px;
        margin-top: 20px;
     }
     nav .fas{
        display: block;
        font-size: 25px;
     }
     nav ul {
        background: #ff004f;
        position: fixed;
        top: 0;
        right:-200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index:2;
        transition: right 0.5s;
     }
     nav ul li{
        display: block;
        margin: 25px;

     }
     nav ul .fas{
        position: absolute;
        top:25px;
        left:25px;
        cursor: pointer;
     }
     .container h1{
        font-size: 30px;
     }
     .col1,.col2{
        flex-basis: 100%;
     }
     .col1{
        margin-bottom: 30px;
     }
     .col2{
        font-size: 14px;
     }
     .tablink{
        font-size: 16px;
        margin-right:20px ;

     }
     .left,.right{
 flex-basis: 100%;
     }
     #copyright{
        font-size: 14px;
     }
     
        
        
    
     .worklist{
        display: flex;
        flex-direction: column;
     }

}


